
<% include layout/header.ejs %>
<style>
    body{
        padding: 10px;
      
       font-size: 16px;
    }

    .left{
        padding: 20px;
    }
    .tab1{
        font-size: 30px;
        width: 50%;
        height: 100%;
        line-height: 2;
        
    }
  #categorymenu {
    display: none !important;
  }
</style>
<div class="container">
    <div class="left">
         <h5>
            <b style= "font-size:20px">  Chế độ bảo hành Laptop tại CongNhatLT như thế nào?</b>
        </h5>
        Đến với chúng tôi khi bạn mua những dòng Laptop để phục vụ cho nhu cầu học tập, giải trí, công việc của mình. Với phong cách phục vụ chu đáo và chuyên nghiệp của đơn vị đã được nhiều người biết đến như một lựa chọn hàng đầu của tất cả khách hàng khi chọn mua Laptop hiện nay.
        Các dịch vụ uy tín, chất lượng và đặc biệt chế độ bảo hành luôn tuyệt vời. Trong nội dung của bài này chúng tôi sẽ cho các bạn biết về chế độ bảo hành Laptop tại CongNhatLT hoàn hảo như thế nào. Chắc chắn sẽ luôn làm hài lòng cho là các khách hàng khó tính nhất.
        <br>
        <h5>
            <b style="color:red ; font-size:16px">Bảo hành Laptop áp dụng với những trường hợp nào?</b> 
        </h5>
            * Bảo hành các dòng máy Laptop bị lỗi màn hình cảm ứng, liệt cảm ứng, bị giật khi sờ trên màn hình.
            <br>
            * Bảo hành Pin cua Laptop khi mau hết pin và sạc cũng rất nhanh đầy pin. Pin thường xuyên thay đổi thất thường, không ổn định. Sập nguồn đột ngột trong khi Pin vẫn đầy.
            <br>
            * Máy không nhận sạc, các cổng kết nối có vấn đề.
            <br>
            * Tất cả các lỗi trên Laptop do nguyên nhân khách quan tạo nên.

        <br>
        <h5>
            <b style="color:red ; font-size:16px">Những trường hợp không áp dụng bảo hành?</b> 
        </h5>
            * Máy đã hết hạn bảo hành nên không thuộc chính sách bảo hành của hệ thống cửa hàng.
            <br>
            * Máy không thuộc hàng đã mua tại CongNhatLT.
            <br>
            * Máy có dấu hiệu bị đập, vỡ, hay tiếp xúc các chất lỏng, chất xúc tác cũng như đã bị biến dạng khác so với lúc đầu.
            <br>
            * Lỗi do tác nhân khác tác động lên máy sẽ không được hỗ trợ bảo hành.
            <br>
            * Máy đã bị can thiệp, mở, bung máy và thay thế các linh kiện mà không phải do Laptopaz thực hiện. 
            <br>
            * Phiếu bảo hành bị mất, bị sửa đổi hoặc không chính xác với thông tin đã lưu trên hệ thống quản lý của đơn vị.

        <br>
        <h5>
            <b style="color:red ; font-size:16px">Những lưu ý khi bảo hành Laptop</b> 
        </h5>
            * Quý khách mang máy trực tiếp đến cửa hàng, chúng tôi sẽ kiểm tra và đánh giá tổng quát về máy để đảm bảo máy không bị tác động đến phần khung vỏ, hay bị tác nhân khác gây nên lỗi cho máy. Nếu khách hàng ở xa cửa hàng thì có thể gửi máy qua đường bưu điện hoặc bất cứ hình thức nào tiện lợi cho khách hàng nhất. 
            <br>
            * Quý khách liên hệ với CongNhatLT sau đó chúng tôi kiểm tra giúp quý khách để đảm bảo máy Laptop bị lỗi vẫn còn nằm trong thời gian hỗ trợ bảo hành.
            <br>
            * Giúp quý khách hàng sao lưu các dữ liệu nếu máy đã không lên nguồn.
            <br>
            * Hỗ trợ cài đặt tư vấn sử dụng máy Laptop trong bất cứ trường hợp nào khi mua máy.
            <br>
            * Hỗ trợ đổi máy cũ, nâng cấp máy mới cho các khách hàng thân thiết của công ty.
            <br>
            * Các phụ kiện, linh kiện cũng được bảo hành rõ ràng. 
            <br>
            * Trong thời gian bảo hành chúng tôi sẽ khắc phục và bảo hành miễn phí máy cho khách hàng. 
        <br>
        <br>
        <br>
        <h5>
            <b style= "font-size:15px"> Với những chính sách bảo hành hoàn hảo khi mua Laptop tại CongNhatLT như trên sẽ giúp khách hàng yên tâm hơn khi sử dụng máy.</b>
        </h5>
    </div>
</div>
<% include layout/footer.ejs %>